/*CORES DE TEXTO*/

.border{
    border: solid 2px black;
}

/*FONTS*/

.roboto{ /*grandes titulos*/
    font-family: 'Roboto', sans-serif;    
}

.ubuntu{ /*li menu*/
    font-family: 'Lato', sans-serif;
}

.mont{ /*subtitulo*/
    font-family: 'Montserrat', sans-serif;
}

.open-sans{ /*texto*/
    font-family: 'Open Sans', sans-serif;
}

