.menu-topo{
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

.menu-topo ul{
    margin-left: auto;
}

.menu-topo ul a{
    color:white;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}

.menu-topo ul a:hover li{
    color: #808080;
}

.menu-topo button{
    border: none;
}

.menu-topo button:focus{
    outline: none;
}

.menu-topo button .icon-menu div{
    width: 35px;
    height: 5px;
    border-radius: 20px;
}

.menu-topo button .icon-menu div:nth-child(2),.menu-topo button .icon-menu div:nth-child(3){
    margin-top:7px;
}

.ajuste-menu{
    height: 57px;
}

.div-intro{
    position: relative;
    width: 100%;
    height: 670px;
    background: url(../img/cake3.jpg) center;
}

.div-intro section{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3;
}

.div-intro .texto{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

/*HOVER.CSS/ hover do a*/
.hvr-sweep-to-right{
    transition: all .2s ease-in-out;
}

.hvr-sweep-to-right:hover{
    border: 1px solid #059aab !important;
    transition: all .2s ease-in-out;
}

.hvr-sweep-to-right:before{
    background: #059aab !important;
}
/*fim hover a*/

.sobre .row .imagem-sobre img{
    width: 100%;
    height: 300px;
    border-radius: 2px;
}

.texto-sobre a{
    font-size: 17px;
    letter-spacing: 1px;
    background: #059aab;
    color: white;
}

.texto-sobre a:hover{
    background: #038594;
    color: white;
}

.encomende{
    background: #7b491c;
}

.prod-populares .card-img-top{
    border-radius: 0px;
}

.card-body{
    transition: all .3s ease;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.card-produto:hover .card-body{
    transition: all .3s ease;
}

.card-produto:hover{
    transition: all .3s ease;
    box-shadow: 0px 0px 20px 0px rgb(156, 156, 156);
}

.prod-populares .div-mais-produtos{
    text-align: right;
}

.prod-populares a{
    font-size: 17px;
    letter-spacing: 1px;
    background: #059aab;
    color: white;
}

.prod-populares a:hover{
    background: #038594;
    color: white;
}

.funcionamento{
    padding: 20px;
}

.comentarios{
    background: #efefef;
}

.comentarios .card-comentarios{
    padding: 15px;
    background: white;
    border-radius: 5px;
    margin-top: 30px;
    /* box-shadow: 3px,3px,3px,3px,rgba(0, 0, 0, 0.4); */
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
}

.comentarios .card-comentarios .img-comentarios1{
    background: url(../img/pessoa1.jpg);
    background-position-x: 35%;
    width: 70px;
    height: 70px;
    border: 4px solid white;
    border-radius: 50%;
    margin-top: -50px;
}

.comentarios .card-comentarios .img-comentarios2{
    background: url(../img/pessoa2.jpg);
    background-position-x: 40%;
    width: 70px;
    height: 70px;
    border: 4px solid white;
    border-radius: 50%;
    margin-top: -50px;
}

.comentarios .card-comentarios .img-comentarios3{
    background: url(../img/pessoa3.jpg);
    background-position-x: 60%;
    width: 70px;
    height: 70px;
    border: 4px solid white;
    border-radius: 50%;
    margin-top: -50px;
}

.comentarios .card-comentarios .img-comentarios4{
    background: url(../img/pessoa4.jpg);
    background-position-x: 60%;
    width: 70px;
    height: 70px;
    border: 4px solid white;
    border-radius: 50%;
    margin-top: -50px;
}

.carousel-item img{
    border-radius: 2px;
}

.footer{
    background: #059aab;
}

.footer2{
    position: absolute;
    bottom: 0;
    background: #059aab;
}

.footer .menu-footer{
    list-style: none;
}

.footer2 .menu-footer{
    list-style: none;
}

.footer .menu-footer li a{
    text-decoration: none;
}

.footer2 .menu-footer li a{
    text-decoration: none;
}

.footer .menu-footer li{
    padding: 1px;
}

.footer2 .menu-footer li{
    padding: 1px;
}

.footer .suporte .r-tel span{
    height: 27px;
    margin-top:3px;
}

.footer2 .suporte .r-tel span{
    height: 27px;
    margin-top:3px;
}

.footer .siganos div p i{
    transition: all .1s ease;
    cursor: pointer;
}

.footer2 .siganos div p i{
    transition: all .1s ease;
    cursor: pointer;
}

.footer .siganos div p i:hover{
    transition: all .1s ease;
    color: #a8a8a8;
}

.footer2 .siganos div p i:hover{
    transition: all .1s ease;
    color: #a8a8a8;
}

.footer .telefone div p i{
    transition: all .1s ease;
    cursor: pointer;
}

.footer2 .telefone div p i{
    transition: all .1s ease;
    cursor: pointer;
}

.menu-footer ul{
    list-style: none;
}

.itens-footer{
    text-align: center;
}

.itens-footer-last{
    text-align: left;
    padding-top:30px;
}

.trabs-li-foot:hover{
    color: white;
    transition: all .1s ease-in-out;
}

.div-icons{
    width: 120px;
    display: flex;
}

.icons-footer{
    cursor: pointer;
    display: block;
    width: 35px;
    height: 55px;
    border-radius:50%;
    line-height: 55px;
}

.icons-footer:hover{
    transition: all .1s ease-in-out;
}

.icons-footer:hover i{
    color:#a29f9f;
    transition: all .1s ease-in-out;
}

.icons-footer i{
    font-size: 35px;
    color: white;
    line-height: 40px;
}

.ver-produtos{
    background: #7b491c;
}

body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background: #038594;
    border-radius: 5px;
}